/* .createpost{
   
    width: 600px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px black;
    margin-top: 30px;
}  */
.createpost__input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 150px;
    outline: 0;
    border: none;
    border-radius: 30px;
    background-color: white;
    margin-top: 30px;
    border:solid 3px;
    border-color:#fd2d01;
}
/* .createpost__input::placeholder{
    color: #c03232;
    font-size: x-large;
    padding: 0 40px;
    position: relative;
    bottom: 60px;
    
} */
.createpost > form >button{
    display: none;
}

/* input[type='text']{
    font-size: x-large;
    bottom: 50px;
    
} */
